<ng-container *ngIf="claimantSO">
    <div class="col-xs-12 no-padding">
        <h4 class="p-2">Claimant Profile</h4>
     </div>
     <div class="col-xs-12">
        <div class="col-xs-12 col-lg-6 overview-text">
                       <h2 class="m-5">{{claimantSO.firstName}} {{claimantSO.lastName}}</h2>
                       <h4 class="no-margin"><strong class="">{{claimantSO.ssn | optSsnPipe}}</strong></h4>
                       <ul class="list-unstyled">
                                     <li>
                                       <div style="white-space: pre-wrap">
                                                     <p>{{claimantSO.address | optAddressPipe}}</p>
                                        </div>
                                     </li>
                       </ul>
        </div>
     </div>
     <div class="col-xs-12 btn_margin">
        <button type="button" class="btn btn-primary" (click)="openEditClaimantDetails(claimantSO)">
        <b>Edit Claimant Details</b>
        </button>
     </div>
     <div class="col-xs-12 btn_margin">
        <button type="button" class="btn btn-primary" (click)="openEditClaimantAddresses(claimantSO.address)">
            <b>Edit Claimant Address</b>
        </button>
     </div>
     </ng-container>
    
    