<ng-container>
    <h4 class = "p-2">
        Claimant Profile
    </h4>

    <form [formGroup] = "profileForm">
        <div class = "form-group">

            <!-- SSN and CONFIRM SSN div -->
            <div class = "col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        SSN:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <!-- FORM INPUT -->
                        <input class = "field"
                            type = "text" 
                            placeholder = {{claimantSO.ssn}}
                            [(ngModel)] = "claimantSO.ssn" 
                            formControlName = "ssn" 
                            readonly = "readonly"
                            disabled>
                    </div>

                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Alternate SSN:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <!-- FORM INPUT -->
                        <input class = "field"
                            type = "text" 
                            placeholder = {{claimantSO.alternateClaimantId}} 
                            [(ngModel)] = "claimantSO.alternateClaimantId" 
                            formControlName = "alternateClaimantId" 
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- First Name and Last Name div -->
            <div class="col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        First Name:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <!-- FORM INPUT -->
                        <input class = "field"
                            type = "text" 
                            placeholder = {{claimantSO.firstName}} 
                            [(ngModel)] = "claimantSO.firstName" 
                            formControlName = "firstName" 
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Name:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <!-- FORM INPUT -->
                        <input class = "field"
                            type = "text" 
                            placeholder = {{claimantSO.lastName}} 
                            [(ngModel)] = "claimantSO.lastName" 
                            formControlName = "lastName" 
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Middle Initial and Date of Birth div -->
            <div class="col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Middle Initial:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <!-- FORM INPUT -->
                        <input class = "field"
                            type = "text" 
                            placeholder = {{claimantSO.middleInitial}} 
                            [(ngModel)] = "claimantSO.middleInitial" 
                            formControlName = "middleInitial" 
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Date of Birth:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input class = "field"
                            type = "text" 
                            placeholder = {{claimantSO.dateOfBirth}} 
                            [(ngModel)] = "claimantSO.dateOfBirth" 
                            formControlName = "dateOfBirth"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Home Phone and Mobile Phone div -->
            <div class="col-xs-12 no-padding">
                <div class="col-xs-12 col-md-6">
                    <label class="col-xs-12 head control-label">
                        Home Phone:
                    </label>
                    <div class="col-xs-12 has-feedback">
                        <!-- FORM INPUT -->
                        <input class="field"
                            type="text" 
                            placeholder= {{claimantSO.homePhone}}
                            [(ngModel)]="claimantSO.homePhone" 
                            formControlName="homePhone" 
                            mask="(000) 000-0000" 
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">Mobile Phone:</label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.mobilePhone}} 
                            [(ngModel)] = "claimantSO.mobilePhone" 
                            formControlName = "mobilePhone"
                            mask = "(000) 000-0000"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Preferred Occupation and Language Preference div -->
            <div class="col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">Preferred Occupation:</label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.preferredOccupation}} 
                            [(ngModel)] = "claimantSO.preferredOccupation" 
                            formControlName = "preferredOccupation"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Language Preference:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.languagePreference}} 
                            [(ngModel)] = "claimantSO.languagePreference" 
                            formControlName = "languagePreference"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Gender and education Level div -->
            <div class = "col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Gender:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.gender}} 
                            [(ngModel)] = "claimantSO.gender" 
                            formControlName = "gender"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Educational Level:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.educationLevel}} 
                            [(ngModel)] = "claimantSO.educationLevel" 
                            formControlName = "educationLevel"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Race and Ethnicity div -->
            <div class = "col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Race:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                                class = "field" 
                                placeholder = {{claimantSO.race}} 
                                [(ngModel)] = "claimantSO.race" 
                                formControlName = "race"
                                readonly = "readonly"
                                disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Ethnicity:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.ethnicity}} 
                            [(ngModel)] = "claimantSO.ethnicity" 
                            formControlName = "ethnicity"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Edit Claimant Details Button -->
            <div class = "col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <button type = "button" 
                        class = "btn btn-primary" 
                        (click) = "openEditClaimantDetails(claimantSO)">
                            <b>Edit Claimant Details</b>
                    </button>
                </div>
                <br>
                <br>
            </div>

            <!-- Address fields -->
            <h4 class = "p-2">
                Claimant Address
            </h4>

            <!-- Address Line 1 -->
            <div class = "col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Address Line 1:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.claimantAddresses[0].addressLine1}} 
                            [(ngModel)] = "claimantSO.claimantAddresses[0].addressLine1" 
                            formControlName = "addressLine1"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Address Line 2 -->
            <div class = "col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Address Line 2:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.claimantAddresses[0].addressLine2}} 
                            [(ngModel)] = "claimantSO.claimantAddresses[0].addressLine2" 
                            formControlName = "addressLine2"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- City and State div -->
            <div class = "col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        City:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.claimantAddresses[0].city}} 
                            [(ngModel)] = "claimantSO.claimantAddresses[0].city" 
                            formControlName = "city"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        State:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.claimantAddresses[0].state}} 
                            [(ngModel)] = "claimantSO.claimantAddresses[0].state" 
                            formControlName = "state"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Zip code and Zip code extension -->
            <div class="col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Zip Code:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.claimantAddresses[0].zipCode}} 
                            [(ngModel)] = "claimantSO.claimantAddresses[0].zipCode" 
                            formControlName = "zipCode"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>

                <div class = "col-xs-12 col-md-6">
                    <label class = "col-xs-12 head control-label">
                        Zip Code Extension:
                    </label>
                    <div class = "col-xs-12 has-feedback">
                        <input type = "text" 
                            class = "field" 
                            placeholder = {{claimantSO.claimantAddresses[0].zipExt}} 
                            [(ngModel)] = "claimantSO.claimantAddresses[0].zipExt" 
                            formControlName = "zipExt"
                            readonly = "readonly"
                            disabled>
                    </div>
                </div>
            </div>

            <!-- Edit Claimant Address Button -->
            <div class ="col-xs-12 no-padding">
                <div class = "col-xs-12 col-md-6">
                    <button type = "button" 
                        class = "btn btn-primary" 
                        (click) = "openEditClaimantAddresses(claimantSO.claimantAddresses)">
                        <b>Edit Claimant Address</b>
                    </button>
                </div>
            </div>

        </div>
    </form>
</ng-container>