<div class="text-center loginscreen animated fadeInDown">
  <div class="ibox-content">

    <div class="text-center loginscreen animated fadeInDown">
        <h2><em><b>Please click on the sign in button below to access the agency portal</b></em></h2>

        <button class="btn btn-primary">
          <b>Sign In</b>
        </button>

        <button class="btn btn-primary">
            <a [routerLink]="['/main']"><b>Bypass Login</b> </a>
          </button>
      <p class="m-t">
        <strong>© On Point Technology, LLC.</strong>
      </p>
    </div>
  </div>
</div>

