<div class="modal-header">
  <h4 class="modal-title">Edit Claimant Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">



  <form [formGroup]="profileForm">
    <div class="form-group">
      <!-- Address Line 1 -->
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12">
          <label for="addressLine1" class="col-xs-12 head control-label">Address Line 1:
          </label>
          <div class="col-xs-12 has-feedback">
            <input type="text" class="form-control edit_field" [(ngModel)]="updateClaimant.address[0].addressLine1"
              formControlName="addressLine1" placeholder="{{claimantProfileCopy.address[0].addressLine1}}">
          </div>
          <div *ngIf="debug==true">
            <br>
            DEBUG: model.addressLine1 content: {{updateClaimant.address[0].addressLine1}}
            <br>
            DEBUG: profileForm status: {{profileForm.status}}
            <br>
            DEBUG: profileForm dirty: {{profileForm.dirty}}
            <br>
            DEBUG: profileForm touched: {{profileForm.touched}}
            <br>
            DEBUG: model content: {{ updateClaimant | json }}
            <br>
          </div>
        </div>
      </div>

      <!-- Address Line 2 -->
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-12">
          <label for="addressLine2" class="col-xs-12 head control-label">Address Line 2:
          </label>
          <div class="col-xs-12 has-feedback">
            <input type="text" class="form-control edit_field" [(ngModel)]="updateClaimant.address[0].addressLine2"
              formControlName="addressLine2" placeholder="{{claimantProfileCopy.address[0].addressLine2}}">
          </div>
          <div *ngIf="debug==true">
            <br>
            DEBUG: model.addressLine2 content: {{updateClaimant.address[0].addressLine2}}
            <br>
            DEBUG: profileForm status: {{profileForm.status}}
            <br>
            DEBUG: profileForm dirty: {{profileForm.dirty}}
            <br>
            DEBUG: profileForm touched: {{profileForm.touched}}
            <br>
            DEBUG: model content: {{ updateClaimant | json }}
            <br>
          </div>
        </div>
      </div>

      <!-- City and State -->
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-6">
          <label for="city" class="col-xs-12 head control-label">City:
          </label>
          <div class="col-xs-12 has-feedback">
            <input type="text" class="form-control edit_field" [(ngModel)]="updateClaimant.address[0].city"
              formControlName="city" placeholder="{{claimantProfileCopy.address[0].city}}">
          </div>
          <div *ngIf="debug==true">
            <br>
            DEBUG: model.city content: {{updateClaimant.address[0].city}}
            <br>
            DEBUG: profileForm status: {{profileForm.status}}
            <br>
            DEBUG: profileForm dirty: {{profileForm.dirty}}
            <br>
            DEBUG: profileForm touched: {{profileForm.touched}}
            <br>
            DEBUG: model content: {{ updateClaimant | json }}
            <br>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <label class="col-xs-12 head control-label">
            State:
          </label>
          <div
            [class]="profileForm.controls['state'].invalid && profileForm.controls['state'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
            <!-- FORM INPUT -->
            <select
              [class]="profileForm.controls['state'].invalid && profileForm.controls['state'].touched ? 'edit_field error': 'edit_field'"
              formControlName="state" [compareWith]="compareFn" [(ngModel)]="updateClaimant.address[0].state">
              <option value="" disabled=true>{{claimantProfileCopy.address[0].state}}</option>
              <option [value]="choice" *ngFor="let choice of stateChoices">{{choice}}</option>
            </select>

            <!-- ERROR   -->
            <span *ngIf="profileForm.controls['state'].invalid && profileForm.controls['state'].touched"
              class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
            <div *ngIf="profileForm.controls['state'].invalid && profileForm.controls['state'].touched"
              class="text-danger">

              <!-- ERROR LIST -->

              <p *ngIf="profileForm.controls['state'].invalid" class="ng-scope">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Please enter a valid State.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Zip Code and Zip Code Extension -->
      <div class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-6">
          <label for="zipCode" class="col-xs-12 head control-label">Zip Code:
          </label>
          <div class="col-xs-12 has-feedback">
            <input type="text" class="form-control edit_field" [(ngModel)]="updateClaimant.address[0].zipCode"
              formControlName="zipCode" placeholder="{{claimantProfileCopy.address[0].zipCode}}">
          </div>
          <div *ngIf="debug==true">
            <br>
            DEBUG: model.zipCode content: {{updateClaimant.address[0].zipCode}}
            <br>
            DEBUG: profileForm status: {{profileForm.status}}
            <br>
            DEBUG: profileForm dirty: {{profileForm.dirty}}
            <br>
            DEBUG: profileForm touched: {{profileForm.touched}}
            <br>
            DEBUG: model content: {{ updateClaimant | json }}
            <br>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <label for="zipExt" class="col-xs-12 head control-label">Zip Code Extension:
          </label>
          <div class="col-xs-12 has-feedback">
            <input type="text" class="form-control edit_field" [(ngModel)]="updateClaimant.address[0].zipExt"
              formControlName="zipExt" placeholder="{{claimantProfileCopy.address[0].zipExt}}">
          </div>
          <div *ngIf="debug==true">
            <br>
            DEBUG: model.zipExt content: {{updateClaimant.address[0].zipExt}}
            <br>
            DEBUG: profileForm status: {{profileForm.status}}
            <br>
            DEBUG: profileForm dirty: {{profileForm.dirty}}
            <br>
            DEBUG: profileForm touched: {{profileForm.touched}}
            <br>
            DEBUG: model content: {{ updateClaimant | json }}
            <br>
          </div>
        </div>

      </div>

    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="updateClaimantDetails()">Submit</button>
  <button type="button" class="btn btn-info" (click)="close()">Cancel</button>
</div>