<div class="col-xs-12" id="surveyContainer"></div>

<div *ngIf="debug==true">
  <h5>Survey Definition Title</h5>
  <p>{{ this.surveyDefinition | json }}</p>

  <h5>Survey Responses</h5>
  <p>{{ this.surveyResponses | json }}</p>


  <h5>Survey Response SO</h5>
  <p>{{ this.surveyResponseSO | json }}</p>
</div>

<div class="col-xs-12 col-md-12 padding-12 padding-top">
    <button *ngIf="(this.surveyObject.currentPageNo > 0) && (this.completeLastPage == false)" 
      type="button" class="btn btn-primary" (click)="prevButton()">
      Previous
    </button>
    <button  *ngIf= "this.surveyObject.currentPageNo < this.surveyObject.visiblePageCount - 1" 
      type="button" class="btn btn-primary" (click)="nextButton()">
      Next
    </button>
    <button 
      *ngIf="(this.surveyObject.currentPageNo == this.surveyObject.visiblePageCount - 1) && (this.completeLastPage == false)"
      type="button" class="btn btn-primary" (click)="completeButton()">
      Complete
    </button>
</div>

<div class="col-xs-12 col-md-12 padding-top text-right">

  <button type="button" class="btn btn-info margin-right" (click)="resetButton()" >
      <!-- routerLink="/main/claimant-overview/{{claimantId}}" -->
      Reset
  </button>

  <button type="button" class="btn btn-primary" (click)="storeResponseAndSend(this.surveyObject)" routerLink="/main/claimant-overview/{{claimantId}}" >
    Save and Exit
  </button>

</div>