<!--Footer Section (grey column container)-->
<div class="col-xs-12 footer-section" style="padding-right: 0px; padding-left: 0px;">
  <div class="bg-primary no-padding" style="height: 8px;"></div>
    <div class="bg-white text-dark text-center p-1 footer-bottom">
      <div class="col-xs-12 col-sm-12 text-center footer-section">
        <img class="img-responsive" src="https://agency-portal.opt-dev.optimumui.com/agency-portal/optimum-ui-customizations/image/AmericanJobCenter_logo_horizontal.jpg" alt="logo" width="400px">
      </div>
  </div>
</div>
        <!--End Footer-->
      