<ul class="ClaimantProfileSO">
  <table> 
    <th><span>Claimant ID</span></th>
    <th><span>SSN</span></th>
    <th><span>Date of Birth</span></th>
    <th><span>First Name</span></th>
    <th><span>Middle Initial</span></th>
    <th><span>Last Name</span></th>
    <th><span>Home Phone</span></th>
    <th><span>Mobile Phone</span></th>
    <th><span>Language Preference</span></th>
    <th><span>Educational Level</span></th>
    <th><span>Gender</span></th>
    <th><span>Race</span></th>
    <th><span>Ethnicity</span></th>
    <th><span>IVR Pin</span></th>
    <th><span>Document Delivery Preference</span></th>
    <th><span>Last Insert Update TS</span></th>
    <th><span>Last Insert Update By</span></th>
    <tr>
      <td>{{claimantSO.claimantId}}</td>
      <td>{{claimantSO.ssn}}</td>
      <td>claimantSO.firstName</td>
      <td>claimantSO.dateOfBirth</td>
      <td>claimantSO.middleInitial</td>
      <td>claimantSO.lastName</td>
      <td>claimantSO.homePhone</td>
      <td>claimantSO.mobilePhone</td>
      <td>claimantSO.languagePreference</td>
      <td>claimantSO.educationalLevel</td>
      <td>claimantSO.gender</td>
      <td>claimantSO.race</td>
      <td>claimantSO.ethnicity</td>
      <td>claimantSO.ivrPin</td>
      <td>claimantSO.documentDeliveryPreference</td>
      <td>claimantSO.lastInsertUpdateTS</td>
      <td>claimantSO.lastInsertUpdateBy</td>
    </tr>
  </table>
  </ul>