<p>
  inside the optimum-form component!
</p>

<h3> Optimum-Components Library Imported</h3>

    <optimum-text-input [labelName]="textInputLabel" [userProfileModel]="userProfileModel" [profileForm]="profileForm">
    </optimum-text-input>
    <optimum-text-input [labelName]="textInputLabel" [userProfileModel]="userProfileModel2" [profileForm]="profileForm">
    </optimum-text-input>
    <optimum-text-area-input [labelName]="textAreaInputLabel" [userProfileModel]="userProfileModel"
      [profileForm]="profileForm"></optimum-text-area-input>
    <optimum-phone-input [labelName]="phoneInputLabel" [userProfileModel]="userProfileModel"
      [profileForm]="profileForm"></optimum-phone-input>
    <optimum-radio-input [labelName]="radioInputLabel" [radioChoices]="radioChoices"
      [userProfileModel]="userProfileModel" [profileForm]="profileForm"></optimum-radio-input>
    <optimum-dropdown-input [labelName]="dropdownInputLabel" [dropdownChoices]="dropdownChoices"
      [userProfileModel]="userProfileModel" [profileForm]="profileForm"></optimum-dropdown-input>
