<div class = "col-xs-12 no-padding" style="border:0.5px solid black; ">
  <h2>
    This is a sample simple claimant profile component.
  </h2>

  <label class="col-xs-12 head control-label">
    First Name:
  </label>
  {{firstname}}

  <br>

  <label class="col-xs-12 head control-label">
    Last Name:
  </label>
  {{lastname}}


  <br>

  <label class="col-xs-12 head control-label">
    Phone Number:
  </label>
  {{phone}}

  <br>

  <label class="col-xs-12 head control-label">
    Address:
  </label>
  {{address}}


</div>
