<h3>
  Claimant Registration
</h3>


<form [formGroup]="profileForm">
  <div class="form-group">

    <!-- SSN and CONFIRM SSN div -->
    <div class="col-xs-12 no-padding">
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span>SSN:
        </label>
        <div
          [class]="profileForm.controls['ssn'].invalid && profileForm.controls['ssn'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['ssn'].invalid && profileForm.controls['ssn'].touched ? 'edit_field error': 'edit_field'"
            type="text" 
            [placeholder]="profileForm.controls['ssn'].invalid? '(Required)' : '' "
            [(ngModel)]="userProfileModel.ssn"
            formControlName="ssn"
            [hiddenInput]="true"
            mask="XXX-XX0-000"
            [showMaskTyped] = "true">

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['ssn'].invalid && profileForm.controls['ssn'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div *ngIf="profileForm.controls['ssn'].invalid && profileForm.controls['ssn'].touched" class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['ssn'].value.length < 9" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Minimum length is 9 digits. Please enter a SSN that is 9-digits in length.
            </p>

            <p *ngIf="profileForm.controls['ssn'].value.length > 9" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Maximum length is 9 digits. Please enter a SSN that is 9-digits in length.
            </p>
          </div>
        </div>

        <div *ngIf="debug==true">
          <br>
          DEBUG: model.ssn content: {{userProfileModel.ssn}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>

      </div>
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span>Confirm SSN:
        </label>
        <div
          [class]="profileForm.controls['confirmSsn'].invalid && profileForm.controls['confirmSsn'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['confirmSsn'].invalid && profileForm.controls['confirmSsn'].touched ? 'edit_field error': 'edit_field'"
            type="text"
            [placeholder]="profileForm.controls['confirmSsn'].invalid? '(Required)' : '' "
            formControlName="confirmSsn"
            [hiddenInput]="true"
            mask="XXX-XX0-000"
            [showMaskTyped] = "true">

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['confirmSsn'].invalid && profileForm.controls['confirmSsn'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div
            *ngIf="profileForm.controls['confirmSsn'].invalid && profileForm.controls['confirmSsn'].touched || profileForm.controls['ssn'].value != profileForm.controls['confirmSsn'].value"
            class="text-danger">

            <!-- ERROR LIST -->
            <p *ngIf="profileForm.controls['confirmSsn'].invalid && profileForm.controls['confirmSsn'].touched"
              class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please confirm your SSN.
            </p>

            <p *ngIf="profileForm.controls['ssn'].value != profileForm.controls['confirmSsn'].value && profileForm.controls['confirmSsn'].touched"
              class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Confirm SSN does not match SSN.
            </p>

          </div>
        </div>

        <div *ngIf="debug==true">
          <br>
          DEBUG: model.ssn content: {{userProfileModel.ssn}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>

      </div>
    </div>

    <!-- First Name and Last Name div -->
    <div class="col-xs-12 no-padding">
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> First Name:
        </label>
        <div
          [class]="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched ? 'edit_field error': 'edit_field'"
            type="text" [placeholder]="profileForm.controls['firstName'].invalid? '(Required)' : '' "
            [(ngModel)]="userProfileModel.firstName" formControlName="firstName">

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div *ngIf="profileForm.controls['firstName'].invalid && profileForm.controls['firstName'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['firstName'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid first name.
            </p>
          </div>
        </div>

        <div *ngIf="debug==true">
          <br>
          DEBUG: model.firstName content: {{userProfileModel.firstName}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>

      </div>
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Last Name:
        </label>
        <div
          [class]="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched ? 'edit_field error': 'edit_field'"
            type="text" [placeholder]="profileForm.controls['lastName'].invalid? '(Required)' : '' "
            [(ngModel)]="userProfileModel.lastName" formControlName="lastName">

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div *ngIf="profileForm.controls['lastName'].invalid && profileForm.controls['lastName'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['lastName'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Last Name.
            </p>
          </div>
        </div>

        <div *ngIf="debug==true">
          <br>
          DEBUG: model.lastName content: {{userProfileModel.lastName}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>

      </div>
    </div>

    <!-- Middle Initial and Date of Birth div -->
    <div class="col-xs-12 no-padding">
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          Middle Initial:
        </label>
        <div
          class="col-xs-12 has-feedback">
          <!-- FORM INPUT -->
          <input
            class = "edit_field"
            type="text"
            [(ngModel)]="userProfileModel.middleInitial"
            formControlName="middleInitial"
            >
          </div>
        <div *ngIf="debug==true">
          <br>
          DEBUG: model.middleInitial content: {{userProfileModel.middleInitial}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>

      </div>

      <div class="col-xs-12 col-md-6">
        <label for="dateOfBirth" class="col-xs-12 head control-label"><span class="text-danger">*</span>
          Date of Birth:
        </label>
        <div class="col-xs-12 has-feedback">
          <input type="date" class="form-control edit_field" [(ngModel)]="userProfileModel.dateOfBirth"
            formControlName="dateOfBirth">
          <span
            *ngIf="profileForm.controls['dateOfBirth'].invalid && (profileForm.controls['dateOfBirth'].dirty || profileForm.controls['dateOfBirth'].touched)"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback text-danger" aria-hidden="true"></span>
          <p *ngIf="profileForm.controls['dateOfBirth'].invalid && (profileForm.controls['dateOfBirth'].dirty || profileForm.controls['dateOfBirth'].touched)"
            class="ng-scope text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>
            Please enter a date of birth.</p>
        </div>
        <div *ngIf="debug==true">
          <br>
          DEBUG: model.dateOfBirth content: {{userProfileModel.dateOfBirth}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>
      </div>
    </div>

    <!-- Home Phone and Mobile Phone div -->
    <div class="col-xs-12 no-padding">
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span>Home Phone:
        </label>
        <div
          [class]="profileForm.controls['homePhone'].invalid && profileForm.controls['homePhone'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['homePhone'].invalid && profileForm.controls['homePhone'].touched ? 'edit_field error': 'edit_field'"
            type="text"
            [placeholder]="profileForm.controls['homePhone'].invalid? '(000) 000-000 (Required)' : '' "
            [(ngModel)]="userProfileModel.homePhone"
            formControlName="homePhone"
            mask="(000) 000-0000"
            >

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['homePhone'].invalid && profileForm.controls['homePhone'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div *ngIf="profileForm.controls['homePhone'].invalid && profileForm.controls['homePhone'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['homePhone'].value.length < 9" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Minimum length is 9 digits. Please enter a homePhone that is 9-digits in length.
            </p>

            <p *ngIf="profileForm.controls['homePhone'].value.length > 9" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Maximum length is 9 digits. Please enter a homePhone that is 9-digits in length.
            </p>
          </div>
        </div>

        <div *ngIf="debug==true">
          <br>
          DEBUG: model.homePhone content: {{userProfileModel.homePhone}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>

      </div>
      <div class="col-xs-12 col-md-6">
        <label for="mobilePhone" class="col-xs-12 head control-label">Mobile Phone:
        </label>
        <div class="col-xs-12 has-feedback">
          <input type="text"
          class="form-control edit_field"
          [(ngModel)]="userProfileModel.mobilePhone"
          formControlName="mobilePhone"
          placeholder="(000) 000-000"
          mask="(000) 000-0000"
          >
        </div>
        <div *ngIf="debug==true">
          <br>
          DEBUG: model.mobilePhone content: {{userProfileModel.mobilePhone}}
          <br>
          DEBUG: profileForm status: {{profileForm.status}}
          <br>
          DEBUG: profileForm dirty: {{profileForm.dirty}}
          <br>
          DEBUG: profileForm touched: {{profileForm.touched}}
          <br>
          DEBUG: model content: {{ userProfileModel | json }}
          <br>
        </div>
      </div>
    </div>

    <!-- Preferred Occupation and Language Preference div -->
    <div class="col-xs-12 no-padding">
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Preferred Occupation:
        </label>
        <div
          [class]="profileForm.controls['preferredOccupation'].invalid && profileForm.controls['preferredOccupation'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['preferredOccupation'].invalid && profileForm.controls['preferredOccupation'].touched ? 'edit_field error': 'edit_field'"
            type="text" [placeholder]="profileForm.controls['preferredOccupation'].invalid? '(Required)' : '' "
            [(ngModel)]="userProfileModel.preferredOccupation" formControlName="preferredOccupation">

          <!-- ERROR   -->
          <span
            *ngIf="profileForm.controls['preferredOccupation'].invalid && profileForm.controls['preferredOccupation'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div
            *ngIf="profileForm.controls['preferredOccupation'].invalid && profileForm.controls['preferredOccupation'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['preferredOccupation'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Preferred Occupation.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Language Preference:
        </label>
        <div
          [class]="profileForm.controls['languagePreference'].invalid && profileForm.controls['languagePreference'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <select class="edit_field" formControlName="languagePreference" [compareWith]="compareFn">
            <option value="" disabled=true>(Required)</option>
            <option [value]="choice" *ngFor="let choice of languagePreferenceChoices">{{choice}}</option>
          </select>

          <!-- ERROR   -->
          <span
            *ngIf="profileForm.controls['languagePreference'].invalid && profileForm.controls['languagePreference'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div
            *ngIf="profileForm.controls['languagePreference'].invalid && profileForm.controls['languagePreference'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['languagePreference'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Language Preference.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Gender and education Level div -->
    <div class="col-xs-12 no-padding">
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Gender:
        </label>
        <div
          [class]="profileForm.controls['gender'].invalid && profileForm.controls['gender'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <select class="edit_field" formControlName="gender" [compareWith]="compareFn">
            <option value="" disabled=true>(Required)</option>
            <option [value]="choice" *ngFor="let choice of genderChoices">{{choice}}</option>
          </select>

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['gender'].invalid && profileForm.controls['gender'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div *ngIf="profileForm.controls['gender'].invalid && profileForm.controls['gender'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['gender'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Gender.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Education Level:
        </label>
        <div
          [class]="profileForm.controls['educationLevel'].invalid && profileForm.controls['educationLevel'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <select class="edit_field" formControlName="educationLevel" [compareWith]="compareFn" required>
            <option value="" disabled=true>(Required)</option>
            <option [value]="choice" *ngFor="let choice of educationLevelChoices">{{choice}}</option>
          </select>
          <!-- ERROR   -->
          <span
            *ngIf="profileForm.controls['educationLevel'].invalid && profileForm.controls['educationLevel'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div
            *ngIf="profileForm.controls['educationLevel'].invalid && profileForm.controls['educationLevel'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['educationLevel'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Education Level.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Race and Ethnicity div -->
    <div class="col-xs-12 no-padding">
      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Race:
        </label>
        <div
          [class]="profileForm.controls['race'].invalid && profileForm.controls['race'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <select class="edit_field" formControlName="race" [compareWith]="compareFn">
            <option value="" disabled=true>(Required)</option>
            <option [value]="choice" *ngFor="let choice of raceChoices">{{choice}}</option>
          </select>

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['race'].invalid && profileForm.controls['race'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div *ngIf="profileForm.controls['race'].invalid && profileForm.controls['race'].touched" class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['race'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Race.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Ethnicity:
        </label>
        <div
          [class]="profileForm.controls['ethnicity'].invalid && profileForm.controls['ethnicity'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <select class="edit_field" formControlName="ethnicity" [compareWith]="compareFn">
            <option value="" disabled=true>(Required)</option>
            <option [value]="choice" *ngFor="let choice of ethnicityChoices">{{choice}}</option>
          </select>

          <!-- ERROR   -->
          <span *ngIf="profileForm.controls['ethnicity'].invalid && profileForm.controls['ethnicity'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div *ngIf="profileForm.controls['ethnicity'].invalid && profileForm.controls['ethnicity'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['ethnicity'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Ethnicity.
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- Address fields -->
    <h3>
      Claimant Address
    </h3>

    <!-- Address Line 1 -->
    <div class="col-xs-12 col-md-12">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Address Line 1:
        </label>
        <div
          [class]="profileForm.controls['addressLine1'].invalid && profileForm.controls['addressLine1'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['addressLine1'].invalid && profileForm.controls['addressLine1'].touched ? 'edit_field error': 'edit_field'"
            type="text" [placeholder]="profileForm.controls['addressLine1'].invalid? '(Required)' : '' "
            [(ngModel)]="userProfileModel.address[0].addressLine1" formControlName="addressLine1">

          <!-- ERROR   -->
          <span
            *ngIf="profileForm.controls['addressLine1'].invalid && profileForm.controls['addressLine1'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div
            *ngIf="profileForm.controls['addressLine1'].invalid && profileForm.controls['addressLine1'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['addressLine1'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Address Line 1.
            </p>
          </div>
        </div>
      </div>

    <!-- Address Line 2 -->
    <div class="col-xs-12 col-md-12">
        <label class="col-xs-12 head control-label">
          <span class="text-danger">*</span> Address Line 2:
        </label>
        <div
          [class]="profileForm.controls['addressLine2'].invalid && profileForm.controls['addressLine2'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
          <!-- FORM INPUT -->
          <input
            [class]="profileForm.controls['addressLine2'].invalid && profileForm.controls['addressLine2'].touched ? 'edit_field error': 'edit_field'"
            type="text" [placeholder]="profileForm.controls['addressLine2'].invalid? '(Required)' : '' "
            [(ngModel)]="userProfileModel.address[0].addressLine2" formControlName="addressLine2">

          <!-- ERROR   -->
          <span
            *ngIf="profileForm.controls['addressLine2'].invalid && profileForm.controls['addressLine2'].touched"
            class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>


          <div
            *ngIf="profileForm.controls['addressLine2'].invalid && profileForm.controls['addressLine2'].touched"
            class="text-danger">

            <!-- ERROR LIST -->

            <p *ngIf="profileForm.controls['addressLine2'].invalid" class="ng-scope">
              <span class="glyphicon glyphicon-exclamation-sign"></span>
              Please enter a valid Address Line 2.
            </p>
          </div>
        </div>
      </div>

    <!-- City and State div -->
    <div class="col-xs-12 no-padding">
        <div class="col-xs-12 col-md-6">
            <label class="col-xs-12 head control-label">
              <span class="text-danger">*</span> City:
            </label>
            <div
              [class]="profileForm.controls['city'].invalid && profileForm.controls['city'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
              <!-- FORM INPUT -->
              <input
                [class]="profileForm.controls['city'].invalid && profileForm.controls['city'].touched ? 'edit_field error': 'edit_field'"
                type="text" [placeholder]="profileForm.controls['city'].invalid? '(Required)' : '' "
                [(ngModel)]="userProfileModel.address[0].city" formControlName="city">
    
              <!-- ERROR   -->
              <span
                *ngIf="profileForm.controls['city'].invalid && profileForm.controls['city'].touched"
                class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
    
    
              <div
                *ngIf="profileForm.controls['city'].invalid && profileForm.controls['city'].touched"
                class="text-danger">
    
                <!-- ERROR LIST -->
    
                <p *ngIf="profileForm.controls['city'].invalid" class="ng-scope">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  Please enter a valid City.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
              <label class="col-xs-12 head control-label">
                <span class="text-danger">*</span> State:
              </label>
              <div
                [class]="profileForm.controls['state'].invalid && profileForm.controls['state'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
                <!-- FORM INPUT -->
                <select class="edit_field" formControlName="state" [compareWith]="compareFn">
                  <option value="" disabled=true>(Required)</option>
                  <option [value]="choice" *ngFor="let choice of stateChoices">{{choice}}</option>
                </select>
      
                <!-- ERROR   -->
                <span *ngIf="profileForm.controls['state'].invalid && profileForm.controls['state'].touched"
                  class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
      
      
                <div *ngIf="profileForm.controls['state'].invalid && profileForm.controls['state'].touched" class="text-danger">
      
                  <!-- ERROR LIST -->
      
                  <p *ngIf="profileForm.controls['state'].invalid" class="ng-scope">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Please enter a valid State.
                  </p>
                </div>
              </div>
            </div>
    </div>

    <!-- Zip code and Zip code extension -->
    <div class="col-xs-12 no-padding">
        <div class="col-xs-12 col-md-6">
            <label class="col-xs-12 head control-label">
              <span class="text-danger">*</span> Zip Code:
            </label>
            <div
              [class]="profileForm.controls['zipCode'].invalid && profileForm.controls['zipCode'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
              <!-- FORM INPUT -->
              <input
                [class]="profileForm.controls['zipCode'].invalid && profileForm.controls['zipCode'].touched ? 'edit_field error': 'edit_field'"
                type="text" [placeholder]="profileForm.controls['zipCode'].invalid? '(Required)' : '' "
                [(ngModel)]="userProfileModel.address[0].zipCode" formControlName="zipCode">
    
              <!-- ERROR   -->
              <span
                *ngIf="profileForm.controls['zipCode'].invalid && profileForm.controls['zipCode'].touched"
                class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
    
    
              <div
                *ngIf="profileForm.controls['zipCode'].invalid && profileForm.controls['zipCode'].touched"
                class="text-danger">
    
                <!-- ERROR LIST -->
    
                <p *ngIf="profileForm.controls['zipCode'].invalid" class="ng-scope">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>
                  Please enter a valid Zip Code.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
              <label class="col-xs-12 head control-label">
                <span class="text-danger">*</span> Zip Code Extension:
              </label>
              <div
                [class]="profileForm.controls['zipExt'].invalid && profileForm.controls['zipExt'].touched ? 'col-xs-12 has-error has-feedback': 'col-xs-12 has-feedback'">
                <!-- FORM INPUT -->
                <input
                  [class]="profileForm.controls['zipExt'].invalid && profileForm.controls['zipExt'].touched ? 'edit_field error': 'edit_field'"
                  type="text" [placeholder]="profileForm.controls['zipExt'].invalid? '(Required)' : '' "
                  [(ngModel)]="userProfileModel.address[0].zipExt" formControlName="zipExt">
      
                <!-- ERROR   -->
                <span
                  *ngIf="profileForm.controls['zipExt'].invalid && profileForm.controls['zipExt'].touched"
                  class="glyphicon glyphicon-exclamation-sign form-control-feedback" aria-hidden="true"></span>
      
      
                <div
                  *ngIf="profileForm.controls['zipExt'].invalid && profileForm.controls['zipExt'].touched"
                  class="text-danger">
      
                  <!-- ERROR LIST -->
      
                  <p *ngIf="profileForm.controls['zipExt'].invalid" class="ng-scope">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    Please enter a valid Zip Code Extension.
                  </p>
                </div>
              </div>
            </div>
    </div>



    <div class="col-xs-12 col-md-12">
      <button type="submit" class="btn btn-success" (click)="verifyBeforeSubmit()">
        Submit
      </button>
    </div>
  </div>
</form>